{% extends "base.html" %}
{% block title %}Grāmatas - Bibliotēka{% endblock %}

{% block content %}
    <h2>Visas Grāmatas</h2>
    
    <div class="gramatu-saraksts">
        {% for book in books %}
            <div class="grāmata">
                <img src="{{ url_for('static', filename='images/gramatas/' + book['image']) }}" alt="Grāmatas vāks">
                <h3>{{ book["title"] }}</h3>
                <p>Autors: {{ book["author"] }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}