{% extends 'base.html' %}
{% block content %}
<div class="p-4 bg-white rounded shadow-sm text-center mb-5">
    <h1>Sveicināti grāmatu krātuvē!</h1>
    <p class="lead">Šeit var apskatīt, pievienot dažādas grāmatas.</p>
</div>

<h2 class="mb-4">Grāmatas</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
    {% for b in books %}
    <div class="col">
        <a href="{{ url_for('detalas', id=b.id) }}" class="text-decoration-none text-dark">
            <div class="card h-100 shadow-sm border-0 card-hover">
                {% if b.bilde %}
                    <img src="{{ url_for('static', filename='gramatas/' + b.bilde) }}" class="card-img-top" alt="{{ b.title }}" style="height: 300px; object-fit: cover;">
                {% else %}
                    <div class="card-img-top bg-light d-flex align-items-center justify-content-center text-muted" style="height: 300px;">
                        <span>Nav bildes</span>
                    </div>
                {% endif %}
                
                <div class="card-body text-center bg-light">
                    <h5 class="card-title fw-bold mb-1">{{ b.title }}</h5>
                    <p class="card-text text-muted">{{ b.author }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}